<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a style="color: rgb(235, 138, 11);" class="navbar-brand" href="#">User Managment</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li style="color: #000000;" class="nav-item">
          <a class="nav-link" routerLink="read">All users</a>
        </li>
        <li style="color: #000000;" class="nav-item">
          <a class="nav-link" routerLink="create">Add user</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<h1 class="text-center mt-2">User Information </h1>
<router-outlet></router-outlet>